WBD/Nikhil/Calculator/src/main/webapp/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="adddition">
    <complexType>
     <sequence>
      <element name="param1" type="xsd:int"/>
      <element name="param2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addditionResponse">
    <complexType>
     <sequence>
      <element name="addditionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addditionResponse">

      <wsdl:part element="impl:addditionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addditionRequest">

      <wsdl:part element="impl:adddition" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="adddition">

         <wsdl:input message="impl:addditionRequest" name="addditionRequest">

       </wsdl:input>

         <wsdl:output message="impl:addditionResponse" name="addditionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="adddition">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addditionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addditionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080/Calculator/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
